.App {
  text-align: center;
  background-color: darkslateblue;
}
.heading{ 
  display: flex; 
  flex-direction: row; 

}
.heading:before,.heading:after{
  content: ""; 
            flex: 1 1; 
            border-bottom: 2px solid #fff;
            opacity: 0.5; 
            margin: auto; 
}
.text{opacity: 0.7; 
  padding:0 10px;
  color:whitesmoke;
  background: transparent;
  position:relative;
}

.main{
   margin-top: 30px;
  width: 100%;
        
        display: flex;
  justify-content: start;
  flex-wrap: wrap;
      box-sizing: border-box;
     
      padding-bottom: 20px;
       
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
